<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="Test1">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheet" />
		</classes>
	</test>
	<test thread-count="1" name="Test2">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetMedicineOrder" />
		</classes>
	</test>
	<test thread-count="1" name="Test3">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianVitalsTest" />
		</classes>
	</test>
	<test thread-count="1" name="Test4">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetOrderSet" />
		</classes>
	</test>
	<test thread-count="1" name="Test5">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianProgressNotesTest" />
		</classes>
	</test>
	<test thread-count="1" name="Test6">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicalExaminationTest" />
		</classes>
	</test>
	<test thread-count="1" name="Test7">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianExistingOrdersOPCasesheet" />
		</classes>
	</test>
	<test thread-count="1" name="Test8">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianDentalTest" />
		</classes>
	</test>
	<test thread-count="1" name="Test9">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetManualOrder" />
		</classes>
	</test>
	<test thread-count="1" name="Test10">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetLaboratroyorder" />
		</classes>
	</test>
	<test thread-count="1" name="Test11">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOtherHistoryTest" />
		</classes>
	</test>
	<test thread-count="1" name="Test12">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianPatientSpecificdocumentation" />
		</classes>
	</test>

	<test thread-count="1" name="Test13">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianTemplateFromPhysicianModule" />
		</classes>
	</test>
	<test thread-count="1" name="Test14">
		<classes>
			<class name="com.triotree.website.Physician.PhysicianDiagnosis" />
		</classes>
	</test>

	<test thread-count="1" name="Test15">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianChiefComplaints" />
		</classes>
	</test>
	<test thread-count="1" name="Test16">
		<classes>
			<class name="com.triotree.website.Physician.PhysicainAdvice" />
		</classes>
	</test>

	<test thread-count="1" name="Test17">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetConsultsOrder" />
		</classes>
	</test>
	<test thread-count="1" name="Test18">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianNotetoSelfTest" />
		</classes>
	</test>

	<test thread-count="1" name="Test19">
		<classes>
			<class
				name="com.triotree.website.Physician.PatientDocumentUploadTest" />
		</classes>
	</test>

	<test thread-count="1" name="Test20">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetProcedureOrder" />
		</classes>
	</test>

	<test thread-count="1" name="Test21">
		<classes>
			<class name="com.triotree.website.Physician.PhysicianHOPI" />
		</classes>
	</test>

	<test thread-count="1" name="Test22">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianOPDCaseSheetRadiologyOrder" />
		</classes>
	</test>

	<test thread-count="1" name="Test23">
		<classes>
			<class
				name="com.triotree.website.Physician.PhysicianAllergiesAndHabitsTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
